doctype html
html(ng-app="app")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Theatre
    link(href="/stylesheets/bootstrap.css" rel="stylesheet")
    link(href="/stylesheets/bootstrap-theme.css" rel="stylesheet")
    meta(name="author" content="Volodymyr Prokopyuk")
  body
    block main
    include templates.jade
    script(src="/javascripts/moment.js")
    script(src="/javascripts/lodash.js")
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/angular.js")
    script(src="/javascripts/app.js")