doctype html
html(ng-app="app")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Theatre booking
    style
      include ../stylesheets/bootstrap.css
    style
      include ../stylesheets/bootstrap-theme.css
    meta(name="author" content="Volodymyr Prokopyuk")
  body
    block main
    include templates.jade
    script
      include ../javascripts/moment.js
    script
      include ../javascripts/lodash.js
    script
      include ../javascripts/jquery.js
    script
      include ../javascripts/angular.js
    script
      include ../javascripts/app.js
    script
      include ../javascripts/services.js
    script
      include ../javascripts/filters.js
    script
      include ../javascripts/directives.js