extends base

block main
  div(ng-controller="mainCtrl")
    .row
      .col-xs-12
        h4.text-center Theatre booking
    div(ng-repeat="row in [ 1, 2, 3 ]")
      .row
        .col-xs-3
          row(sector="A" row="{{ row }}")
        .col-xs-6
        .col-xs-3
          row(sector="D" row="{{ row }}")
    div(ng-repeat="row in [ 1, 2 ]")
      .row
        .col-xs-6
          row(sector="B" row="{{ row }}")
        .col-xs-6
          row(sector="C" row="{{ row }}")
    .row
      .col-xs-1
        p
        button.btn.btn-info.btn-xs(ng-click="import(import)") Import
      .col-xs-1
        p
        button.btn.btn-info.btn-xs(ng-click="export()") Export
      .col-xs-8
      .col-xs-1
        total
      .col-xs-1
        p
        button.btn.btn-info.btn-xs(ng-click="bookings = !bookings")
          | {{ bookings ? 'Hide' : 'Bookings' }}
    div(ng-if="seat")
      p
      booking
    div(ng-if="bookings")
      p
      bookings