extends base

block main
  div(ng-controller="mainCtrl")
    .panel.panle-default
      .panel-body
        .row
          .col-xs-12
            h4.text-center {{ tr('Theater booking') }}
        .row
          .col-xs-12
            .btn-toolbar.pull-right
              .btn-group
                button.btn.btn-success.btn-xs(ng-click="lng('en')") en
              .btn-group
                button.btn.btn-success.btn-xs(ng-click="lng('ua')") ua
        div(ng-repeat="row in [ 1, 2, 3 ]")
          .row
            .col-xs-3
              row(sector="A" row="{{ row }}")
            .col-xs-6
            .col-xs-3
              row(sector="D" row="{{ row }}")
        div(ng-repeat="row in [ 1, 2, 3, 4 ]")
          .row
            .col-xs-6
              row(sector="B" row="{{ row }}")
            .col-xs-6
              row(sector="C" row="{{ row }}")
        .row
          .col-xs-1
            p
            button.btn.btn-info.btn-sm(ng-click="export()")
              | {{ tr('Export') }}
          .col-xs-1
            p
            button.btn.btn-sm(ng-click="import()"
              ng-class="importing && 'btn-success' || 'btn-info'")
              | {{ tr('Import') }}
          .col-xs-1
            p
            button.btn.btn-danger.btn-sm(ng-click="askClear()"
              ng-class="clearing && 'btn-success' || 'btn-danger'")
              | {{ clearing ? tr('No') : tr('Clear') }}
          .col-xs-5
          .col-xs-1.text-right
            p
            button.btn.btn-info.btn-sm(ng-click="bookings = !bookings")
              | {{ bookings ? tr('Hide') : tr('Bookings') }}
          .col-xs-3.text-right
            total
        div(ng-if="clearing")
          .row
            .col-xs-12
              p
              .alert.alert-danger
                .row
                  .col-xs-8
                    strong {{ tr('You are about to delete all bookings') }}
                  .col-xs-4.text-right
                    button.btn.btn-danger.btn-sm(ng-click="clear()")
                      | {{ tr('Yes, delete all bookings') }}
        div(ng-show="importing")
          .row
            .col-xs-12
              p
              textarea.form-control(ng-model="imported"
                placeholder="{{ tr('Paste here previously exported file content and press Import again') }}")
        div(ng-if="seat")
          p
          booking
        div(ng-if="bookings")
          p
          bookings
        .row
          .col-xs-12.text-right
            p
            h6
              small {{ tr('Designed by Volodymyr Prokopyuk, 2014') }}
